# Debian package cache
/cache/**        filter=lfs diff=lfs merge=lfs -text

# Debian package source
/src/**          filter=lfs diff=lfs merge=lfs -text

# Debian SDK rootfs
/*.tar.xz        filter=lfs diff=lfs merge=lfs -text
